{% extends 'base.html.twig' %}

{% block body %}
  <div class="progress-headline marc">100% Liebesabdeckung</div>
  <div class="progress-bar marc">
    <div class="progress-inner" style="width: 100%"></div>
  </div>
  <div class="chest-wrapper">
    <div class="price"><a href="#">Eure Belohnung</a></div>
    <div class="chest"></div>
    <span class="help">Klicken zum Öffnen</span>
  </div>
{% endblock %}
