{% extends 'base.html.twig' %}

{% block body %}
  {% include 'imports/progress.html.twig' with {'width': '80%'} %}
  <p class="question">Was ist die Ticketnummer von Marc’s erstem Ticket bei Shopware?</p>
  <div class="answer">
    {{ form_start(form) }}
      {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
